h1{
font-family: 'Courgette' , cursive;
color:cyan;
}
h5{
font-family: 'Courgette' , cursive;
color:crimson;
}
h6{
font-family: 'Courgette' , cursive;
color:steelblue;
}
ul{
list-style-type:none;
margin:0;
padding:0px;
}
li{
margin:10px;
}
.navbar{
margin-bottom:0px;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.animate-pop-in {
  animation: pop-in .6s ease-out forwards;
}
body{

background-repeat:no-repeat;
background-size:cover;
background-color:crimson;

}